* {
	padding: 0;
	margin: 0;
}

.body {
	background-color: 404040;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

#start{
	position: absolute;
	top: 10%;
	z-index: 9999;
	left: 24%
}

#save{
	position: absolute;
	top: 10%;
	z-index: 9999;
	left: 33.8%;	
}

#new{
	position: absolute;
	top: 10%;
	z-index: 9999;
	left: 29%;
}

#timer{
	position: absolute;
	top: 10%;
	z-index: 9999;
	right: 25%;
	color: yellow;
}

#title{
	font-size: 70px;
	position: absolute;
	z-index: 9998;
	color: whitesmoke;
	left: 40%;
}

.container {
	margin: 0 auto;
	padding: 0 0;
	width: 800px;
	height: 800px;
	color: #404040;
}

#drawing {
	position: relative;
	background-color: #404040;
	width: 100%;
	height: 100%;
}

.top {
	margin-bottom: 20px;
	font-size: 16px;
}

.top p {
	display: inline-block;
	margin-right: 25px;
}

.cursorPosition {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 15px;
}
.cursorPosition .x {
    color: #548afb;
    font-weight: bold;
}
.cursorPosition .y {
    color: #e25c5c;
    font-weight: bold;
}